@font-face {
    font-family: 'VTCMarsha';
    src: url('./fonts/VTCMarsha-Bold.eot');
    src: url('./fonts/VTCMarsha-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/VTCMarsha-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body {
    color: white;
    background-color: black;
    text-align: left;
    background-image: url("img/Nyx Goddess of Night1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

p {
    color: white;
}
.hero-img {
    width:100%;
}
.hero-img img {
    transition: opacity 2s ease-in-out;

}
.chat-container {
    position: fixed;
    color: black;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 10px;
    background: linear-gradient(135deg, #24b7a5, #4859a6); /* Gradient background */
    border: 1px solid #4859a6; /* Darker teal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 200px; /* Default width for mobile */
    max-width: 200px; /* Default max width for mobile */
    max-height: 600px; /* Set max height */
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease; /* Smooth transition */
    overflow: hidden; /* Prevent overflow issues */
}

.chat-toggle-button {
    width: 100%;
    padding: 8px; /* Adjusted padding */
    margin: 0; /* Ensure no margin overflow */
    font-weight: bold;
    background: linear-gradient(135deg, #24b7a5, #4859a6); /* Animated gradient */
    background-size: 200% 200%;
    animation: gradientAnimation 4s ease infinite;
    color: white;
    cursor: pointer;
    text-align: center;
    border: none; /* Remove border to fit within container */
    border-radius: 8px 8px 0 0; /* Match container's border radius */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

.chat-popup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px; /* Add padding inside the chat popup */
    position: relative;
    background-color: rgb(245, 250, 249); /* Light, neutral color */
    overflow: hidden; /* Hide overflow to prevent unwanted scrollbars */
    border-radius: 0 0 8px 8px;
    width: 100%; /* Ensure it takes the width of the container */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 54, 54, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
    display: none;
}

.loading-overlay.visible {
    display: flex;
}

.loading-indicator {
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    color: white;
    background-color: transparent;
    animation: blinker 2s linear infinite;
    margin-bottom: 65px;
}


.response-container {
    flex-grow: 1;
    overflow-y: auto; /* Ensure vertical scrolling */
    display: flex;
    flex-direction: column;
    color: rgb(38, 92, 97); /* Darker Teal */
    padding: 5px;
    background-color: rgb(245, 250, 249); /* Light, neutral color */
    box-sizing: border-box;
    height: 100%; /* Adjust to ensure the container height is 100% */
}

.response-container::-webkit-scrollbar {
    width: 12px;
}

.response-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.response-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.response-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button[type="submit"], button[title="Clear Chat"], button[title="Copy Chat"] {
    background-color: #4859a6; /* Darker teal */
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.chat {
    margin: 10px 0;
    background-color: rgb(245, 250, 249); /* Light, neutral color */
    padding: 10px;
    border-radius: 4px;
}

.user {
    background-color: rgb(250, 255, 254); /* Light, neutral color */
    padding: 5px;
    border-radius: 4px;
}

.filebaby {
    background-color: rgb(250, 255, 254); /* Light, neutral color */
    padding: 5px;
    border-radius: 4px;
    color: rgb(38, 92, 97); /* Darker Teal */
}

.filebaby p {
    margin: 0;
    padding: 5px 0;

}
.nyx p{
    color: black;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chat-title-bar .alice {
    font-family: 'VTCMarsha', sans-serif;
    font-size: 30px;
    background-color: transparent; /* Remove gradient */
    color: rgb(38, 92, 97); /* Darker Teal */
    padding: 10px;
    cursor: move;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.generated-page {
    margin-top: 20px;
    padding: 10px;
}

.generated-page p {
    margin: 10px 0;
    font-size: 16px;
    color: white;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
    .chat-container.expanded {
        width: 360px; /* Expanded width for desktop */
        max-width: 400px; /* Set max width */
    }
    .loading-indicator {
        font-size: 1.2em;
    }
    .chat-popup {
        width: 360px; /* Ensure popup matches the container width */
    }
}
